.fullcard {
    font-family: 'Poppins'; // TODO: provvisorio, dovrebbe essere globale
    
    picture {
        display: flex;
        justify-content: center;
    }
}

.fullcard.vertical,.fullcard.horizontal {
    .card-container {
        background-color: black;
    }
}

.fullcard.vertical {
    .card-container {
        height: 52rem; // da mockup
    }

    img.card-image {
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        height: 13rem; // 52/4
        width: 100%;
    }

    .card-content {
        height: 39rem; //52/4*3
    }

    ul li {
        margin-bottom: 0;
    }

    ul li::marker {
        color: var(--marker-color);
        content: "|    ";
        font-size: 20px;
    }
}

.fullcard.horizontal {
    flex-direction: column;

    .card-container {
        height: 20rem; // da mockup c.ca
    }

    img.card-image {
        mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
        width: 80%;
    }

    .card-content {
        padding: 3rem 4rem;
    }

    h2 {
        margin-top: 0;
    }
}