@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "@tailwindcss/typography";

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  --animate-pop-out: pop-out 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;

  @keyframes pop-out {
    0% {
      opacity: 0;
      transform: scale(0) translateY(-10px);
    }
    50% {
      transform: scale(1.1) translateY(0);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

/* prefix: --color-* */
@theme {
  /* Font family - Poppins as default sans font */
  --font-family-sans:
    var(--font-poppins), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: hsl(var(--theme-background));
  /* Sfondo web site */
  --color-foreground: hsl(var(--theme-foreground));
  /* Colore testo sito web */

  --color-card: hsl(var(--theme-card));
  /*Sfondo delle section */
  --color-card-foreground: hsl(var(--theme-card-foreground));
  /*Colore testo della descrizione card (Non utilizzato per il momento)*/

  --color-primary: hsl(var(--theme-primary));
  /* Sfondo del Bottone Brand primario*/
  --color-primary-foreground: hsl(var(--theme-primary-foreground));
  /* Colore testo bottone */

  --color-accent: hsl(var(--theme-accent));
  /*Sfondo footer*/
  --color-accent-foreground: hsl(var(--theme-accent-foreground));
  /*Colore testo footer*/

  /*--color-section: hsl(var(--theme-section)); Sfondo delle card*/

  --color-secondary: hsl(var(--theme-secondary));
  /* Sottolineatura del menu e bordo del menu */
  --color-secondary-foreground: hsl(var(--theme-secondary-foreground));
  /* Colore del testo type */

  /* --color-secondary-foreground: hsl(240 5.9% 10%); Colore del testo type */

  --color-muted: hsl(240 4.8% 95.9%);
  /* Sfondo bottone Disable */
  --color-muted-foreground: hsl(var(--theme-muted-foreground));
  /* Colore del testo Disable */

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-destructive-hover: hsl(0 84.2% 40.2%);

  --color-border: hsl(240 5.9% 90%);

  --color-sidebar: hsl(0 100% 50%);
  --color-sidebar-fg: hsl(240 5.3% 26.1%);
  --color-sidebar-primary: hsl(240 5.9% 10%);
  --color-sidebar-primary-fg: hsl(0 0% 98%);
  --color-sidebar-accent: hsl(240 4.8% 95.9%);
  --color-sidebar-accent-fg: hsl(240 5.9% 10%);
  --color-sidebar-border: hsl(220 13% 91%);
  --color-sidebar-ring: hsl(217.2 91.2% 59.8%);

  --text-h1: 4.375rem;
  --text-h1--line-height: 4.375rem;

  --text-h2: 3.125rem;
  --text-h2--line-height: 3.438rem;

  --text-h3: 2.5rem;
  --text-h3--line-height: 3rem;

  --text-h4: 2.063rem;
  --text-h4--line-height: 2.375rem;

  --text-h5: 1.75rem;
  --text-h5--line-height: 2.063rem;

  --text-h6: 1.5rem;
  --text-h6--line-height: 1.75rem;

  --text-h7: 1.375rem;
  --text-h7--line-height: 1.75rem;

  --text-h8: 1.25rem;
  --text-h8--line-height: 1.438rem;

  --text-body: 1.125rem;
  --text-body--line-height: 1.375rem;

  --text-small: 1rem;
  --text-small--line-height: 1.25rem;

  --text-xsmall: 0.875rem;
  --text-xsmall--line-height: 1.188rem;
}

@layer base {
  html,
  body {
    font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  }

  :root {
    /* --background: var(--theme-bg);
    --foreground: var(--theme-fg);
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%; */
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    /* --primary: var(--theme-primary);
    --primary-foreground: var(--theme-primary-fg);
    --section-background: var(--theme-section);
     --secondary: var(--theme-secondary);*/
    --theme-card-foreground: 224 56% 37%;
    --theme-secondary-foreground: 203 65% 47%;
    --secondary-hover: 240 4.8% 95.9%;
    --theme-muted-foreground: 240 5.9% 90%;
    /* --muted: 240 4.8% 95.9%;
     --accent: var(--theme-accent);
    --accent-foreground: var(--theme-accent-fg);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --destructive-hover: 0 84.2% 40.2%;
    --border: 240 5.9% 90%; */
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --tw-shadow-color: #000000;
    /* --sidebar: 0 100% 50%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%; */

    .bg-section-1 {
      background: linear-gradient(var(--theme-background-section-1));
    }

    .bg-section-2 {
      background: linear-gradient(var(--theme-background-section-2));
    }

    .bg-section-3 {
      background: linear-gradient(var(--theme-background-section-3));
    }

    .bg-gradient-background {
      background: linear-gradient(var(--theme-background-gradient));
    }

    .bg-gradient-section-background {
      background: linear-gradient(var(--theme-gradient-section-background));
    }
  }

  /* .dark {
    --background: var(--theme-bg-dark);
    --foreground: var(--theme-fg-dark);

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: var(--theme-primary-dark);
    --primary-foreground: 0 0% 100%;
    --section-background: var(--theme-section-background-dark);

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-hover: 240 4.8% 95.9%;

    --text-primary: var(--theme-text-primary-dark);
    --text-primary-foreground: var(--theme-text-primary-fg-dark);

    --text-secondary: 240 4.8% 95.9%;
    --text-secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: v240 5.9% 90%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --destructive-hover: 0 84.2% 40.2%;

    --border: 240 5.9% 90%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --tw-shadow-color: #000000;

    .bg-gradient-1 {
      background: linear-gradient(var(--theme-bg-gradient-1-dark));
    }

    .bg-gradient-2 {
      background: linear-gradient(var(--theme-bg-gradient-2-dark));
    }

    .bg-gradient-3 {
      background: linear-gradient(var(--theme-bg-gradient-3-dark));
    }
  } */
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* Classi per i background degli header */
/* .bg-theme-primary {
  background-color: hsl(var(--theme-bg-section-1));
}

.bg-theme-secondary {
  background-color: hsl(var(--theme-bg-section-3));
}

.bg-theme-tertiary {
  background-color: hsl(var(--theme-bg-tertiary));
} */

.language-select > button {
  background-color: hsl(var(--theme-section));
  border: none;
}

html {
  overflow-x: hidden;
}

/* headings */
h1 {
  font-weight: 300;
  font-size: 70px;
  line-height: 70px;
}

h2 {
  font-weight: 300;
  font-size: 50px;
  line-height: 55px;
}

h3 {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-weight: 300;
  font-size: 33px;
  line-height: 38px;
}

h5 {
  font-weight: 300;
  font-size: 26px;
  line-height: 33px;
}

h6 {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 980px) {
  h1 {
    font-size: 50px;
    line-height: 55px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-size: 33px;
    line-height: 38px;
  }

  h4 {
    font-size: 26px;
    line-height: 33px;
  }

  h5 {
    font-size: 24px;
    line-height: 28px;
  }

  h6 {
    font-size: 18px;
    line-height: 22px;
  }
}

.prose ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.prose li {
  margin-bottom: 0.5rem;
  display: list-item;
}

.container {
  @media (width >= 96rem) {
    max-width: 80rem;
  }
}

/* infinite-moving-cards */
.scroller {
  li {
    display: unset;
    padding: 0 2rem;
  }
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
